<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        LISTADO KUDOS
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <tr>
                                <th>TEMA</th>
                                <th>DE</th>
                                <th>PARA</th>
                                <th>TEXTO</th>
                            </tr>
                            <% kudos.forEach((k) =>{%>
                            <tr>
                                <td><%= k.tema%> </td>
                                <td><%= k.envia %></td>
                                <td><%= k.recibe %></td>
                                <td><%= k.texto %></td>

                            </tr>
                            <%}) %>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>